<div class="row">
    <div class="col-3">
        <p>LBC</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.lbc }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>社名</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.company_name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>メインLBC</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.main_lbc }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>グループトップ</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.group_top_lbc1 }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>子会社</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.parent_lbc }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>法人格</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.legal_personality}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>住所</p>
    </div>
    <div class="col-9">
        <p>{{unyou.prefectures_name}}{{ unyou.municipality_name}}{{ unyou.town_name}}{{unyou.city_block}}{{unyou.address}}{{unyou.building}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>上場区分</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.listing_name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>有価証券報告書ナンバー</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.periodic_report_number}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>事業状況</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.office_status_name}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>電話番号</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.telephone_number}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>事業所数</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.offices_number}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>資本金</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.capital}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>従業員数</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.employee_number}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>当期売上高</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.sales_current_term}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>当期売上高前年比率</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.sales_ratio}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>当期利益</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.profit_term}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>当期利益前年比率</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.profit_ratio}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>当期配当金</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.dividend_term}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>代表者役職</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.representative_position}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>代表者名</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.representatives_name}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>業種名称1</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.industry_name1}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>業種名称2</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.industry_name2}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>業種名称3</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.industry_name3}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>URL</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.url}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>当期利益</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.profit_term}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>企業区分</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.company_type_name}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>従業員数</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.number_of_employees}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>売上高</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.sales}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>当期利益</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.profit}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>海外進出企業フラグ</p>
    </div>
    <div class="col-9">
        <p>{{ unyou.overseas_expansion_company}}</p>
    </div>
</div>
